h1 {
    color: black;
    text-align: center;
    font-size: 300%;
  }
  h2 {
    text-align: center;
    position: relative;
    bottom: 30px;
  }
  .navbar {
    display: flex;
    width: 300px;
    height: 300px;
    padding: 0;
    margin: auto;
   
    justify-content: center;
  }
  .navbar {
    position:relative; right:0px; top:15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 100px;
    grid-gap: 200px;
  }
   
 